@import url("https://fonts.googleapis.com/css?family=Montserrat:100,900i");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: 'Cabin-Regular';
  src: url("../fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf") format("ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

.txt {
  text-align: center;
  vertical-align: middle;
  background: #011c37;
  color: #15DEA5;
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem;
  margin: 1rem 0.5rem;
}

.txt--clickable {
  border-radius: 10rem;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.txt--clickable:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.txt--hidden {
  display: none;
}

.drop_region {
  width: 250px;
  height: 250px;
  padding: 100px;
  border-radius: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: none;
          transform: none;
}

.drop_region:hover {
  -webkit-animation: shaking_button 300ms 2;
          animation: shaking_button 300ms 2;
}

/* General Purpose */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

/* Header stuff */
.header {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 99;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 50px;
}

@media screen and (max-width: 768px) {
  .header .logo {
    padding: 20px 20px;
  }
}

.header .logo__img {
  margin: 10px 20px 10px 0;
  width: 64px;
}

.header .logo__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logo__titles > * {
  margin: 0;
}

.header .logo__titles > h1 {
  font-size: 2.2em;
}

.header .logo__titles > h2 {
  font-size: 1.4em;
}

@media screen and (max-width: 768px) {
  .header .logo__titles h2 {
    display: none;
  }
}

.header .nav {
  display: none;
}

.header .nav > ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__link {
  margin: 5px;
}

/* Description */
.description_section {
  background-color: rgba(165, 165, 110, 0.5);
  padding-bottom: 200px;
  margin-bottom: 50px;
}

.description {
  position: relative;
  top: 150px;
  font-size: 1.2rem;
  text-align: justify;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description__text {
  max-width: 500px;
}

.description__images {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .description__images {
    width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .description__images {
    width: 600px;
  }
}

@media screen and (max-width: 599px) {
  .description__images {
    width: 450px;
  }
}

/* Playground */
.playground__before_drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 20px;
  padding: 30px;
}

.playground__before_drop .images_examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playground__before_drop .images_examples .img_example {
  padding: 20px;
  width: 300px;
}

.playground__before_drop .images_examples .img_example:hover {
  cursor: pointer;
}

.playground__after_drop {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 20px;
  padding: 30px;
}

.playground__after_drop__input_image > img {
  width: 500px;
}

.playground__after_drop__output {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playground__after_drop__output > canvas {
  width: 500px;
}

@-webkit-keyframes shaking_button {
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes shaking_button {
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.option_selector {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.output__btn_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0.5rem;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px 40px 20px;
  color: #ffbe96;
  background-color: rgba(0, 0, 0, 0.8);
}

.about h2 {
  margin: 0;
}

.about p {
  max-width: 500px;
}

.about__icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #ffbe96;
}

.about__icons a svg {
  padding: 5px 15px;
  width: 32px;
  height: 32px;
}

.about__icons a circle, .about__icons a rect, .about__icons a path {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.about__icons a .colored_white {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.about__icons a:hover {
  color: #ff9e53;
}

.about__icons a:hover .colored_white {
  fill: white;
}

.about__icons a:hover .colored_blue_linkedin {
  fill: #0e76a8;
}

.about__icons a:hover .colored_red {
  fill: red;
}
/*# sourceMappingURL=main.css.map */