@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@font-face {
  font-family: 'Cabin-Regular';
  src: url('../fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf') format('ttf');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
